body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 10px;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}
.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex-grow: 1;
}
.right {
  font-weight: 700;
  font-size: 26px;
}

.cart {
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 5;
  padding: 12px;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: grey;
  width: 50rem;
  max-width: 95%;
  box-shadow: 4px 4px 10px black;
  animation: show 500ms ease-in-out;
}
.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
}

.basket-delete {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: pink;
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
